<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
    <string>iLect</string>
	<key>CFBundleName</key>
	<string>iLect</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>googlemaps</string>
		<string>youtube</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to select screenshot in Photos app via image picker plugin</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
    <true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>aa</string>
        <string>ab</string>
        <string>ae</string>
        <string>af</string>
        <string>ak</string>
        <string>am</string>
        <string>an</string>
        <string>ar</string>
        <string>as</string>
        <string>av</string>
        <string>ay</string>
        <string>az</string>
        <string>ba</string>
        <string>be</string>
        <string>bg</string>
        <string>bh</string>
        <string>bi</string>
        <string>bm</string>
        <string>bn</string>
        <string>bo</string>
        <string>br</string>
        <string>bs</string>
        <string>ca</string>
        <string>ce</string>
        <string>ch</string>
        <string>co</string>
        <string>cr</string>
        <string>cs</string>
        <string>cu</string>
        <string>cv</string>
        <string>cy</string>
        <string>da</string>
        <string>de</string>
        <string>dv</string>
        <string>dz</string>
        <string>ee</string>
        <string>el</string>
        <string>en</string>
        <string>eo</string>
        <string>es</string>
        <string>et</string>
        <string>eu</string>
        <string>fa</string>
        <string>ff</string>
        <string>fi</string>
        <string>fj</string>
        <string>fo</string>
        <string>fr</string>
        <string>fy</string>
        <string>ga</string>
        <string>gd</string>
        <string>gl</string>
        <string>gn</string>
        <string>gu</string>
        <string>gv</string>
        <string>ha</string>
        <string>he</string>
        <string>hi</string>
        <string>ho</string>
        <string>hr</string>
        <string>ht</string>
        <string>hu</string>
        <string>hy</string>
        <string>hz</string>
        <string>ia</string>
        <string>id</string>
        <string>ie</string>
        <string>ig</string>
        <string>ii</string>
        <string>ik</string>
        <string>io</string>
        <string>is</string>
        <string>it</string>
        <string>iu</string>
        <string>ja</string>
        <string>jv</string>
        <string>ka</string>
        <string>kg</string>
        <string>ki</string>
        <string>kj</string>
        <string>kk</string>
        <string>kl</string>
        <string>km</string>
        <string>kn</string>
        <string>ko</string>
        <string>kr</string>
        <string>ks</string>
        <string>ku</string>
        <string>kv</string>
        <string>kw</string>
        <string>ky</string>
        <string>la</string>
        <string>lb</string>
        <string>lg</string>
        <string>li</string>
        <string>ln</string>
        <string>lo</string>
        <string>lt</string>
        <string>lu</string>
        <string>lv</string>
        <string>mg</string>
        <string>mh</string>
        <string>mi</string>
        <string>mk</string>
        <string>ml</string>
        <string>mn</string>
        <string>mr</string>
        <string>ms</string>
        <string>mt</string>
        <string>my</string>
        <string>na</string>
        <string>nb</string>
        <string>nd</string>
        <string>ne</string>
        <string>ng</string>
        <string>nl</string>
        <string>nn</string>
        <string>no</string>
        <string>nr</string>
        <string>nv</string>
        <string>ny</string>
        <string>oc</string>
        <string>oj</string>
        <string>om</string>
        <string>or</string>
        <string>os</string>
        <string>pa</string>
        <string>pi</string>
        <string>pl</string>
        <string>ps</string>
        <string>pt</string>
        <string>qu</string>
        <string>rm</string>
        <string>rn</string>
        <string>ro</string>
        <string>ru</string>
        <string>rw</string>
        <string>sa</string>
        <string>sc</string>
        <string>sd</string>
        <string>se</string>
        <string>sg</string>
        <string>si</string>
        <string>sk</string>
        <string>sl</string>
        <string>sm</string>
        <string>sn</string>
        <string>so</string>
        <string>sq</string>
        <string>sr</string>
        <string>ss</string>
        <string>st</string>
        <string>su</string>
        <string>sv</string>
        <string>sw</string>
        <string>ta</string>
        <string>te</string>
        <string>tg</string>
        <string>th</string>
        <string>ti</string>
        <string>tk</string>
        <string>tl</string>
        <string>tn</string>
        <string>to</string>
        <string>tr</string>
        <string>ts</string>
        <string>tt</string>
        <string>tw</string>
        <string>ty</string>
        <string>ug</string>
        <string>uk</string>
        <string>ur</string>
        <string>uz</string>
        <string>ve</string>
        <string>vi</string>
        <string>vo</string>
        <string>wa</string>
        <string>wo</string>
        <string>xh</string>
        <string>yi</string>
        <string>yo</string>
        <string>za</string>
        <string>zh</string>
        <string>zu</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
